/* Login Page */
* {
    font-family: "Noto Sans", sans-serif;
  }
  .main-container {
    width: 100%;
    max-width: 1920px;
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
  }
  .carousel {
    width: 70%;
    /* width: 1344px; */
    height: 100%;
  }
  .carousel .carousel-title {
    font-weight: 400;
    text-align: left;
    font-size: 43px;
  }
  .carousel .carousel-content {
    font-size: 16px;
    font-weight: 100;
    text-align: left;
  }
  #carousel-login {
    width: 100%;
  }
  .login-box {
    width: 30%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
  .login-box .login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-box .login-form .input-title {
    color: #414141;
    font-size: 16px;
  }
  .login-box .login-form input {
    margin-top: 8px;
    color: #414141;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-shadow: 0.97px 0.26px 3px #0000000d;
    width: 401px;
    height: 56px;
    outline: none;
  }
  .login-box .login-form input:focus {
    box-shadow: 0px 0px 10px #2b64b11f;
    border: 2px solid #2b64b1;
  }
  .login-box .login-form .login-btn {
    width: 401px;
    font-size: 17px;
    color: #f88634;
    border: 2px solid #f88634;
    border-radius: 24px;
    height: 48px;
    margin-top: 30px;
    background-color: #ffffff;
    font-weight: 300;
  }
  .login-box .login-form .que-line {
    font-size: 14px;
    color: #414141;
    align-self: center;
    margin-top: 17px;
  }
  
  /* Lost-Password Page */
  .lost-pass-box {
    width: 30%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
  .lost-pass-box .lost-pass-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lost-pass-box .lost-pass-form .forgot-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 32px;
  }
  .lost-pass-box .lost-pass-form input {
    margin-top: 8px;
    color: #414141;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-shadow: 0.97px 0.26px 3px #0000000d;
    width: 401px;
    height: 56px;
    outline: none;
  }
  .lost-pass-box .lost-pass-form input:focus {
    box-shadow: 0px 0px 10px #2b64b11f;
    border: 2px solid #2b64b1;
  }
  
  .lost-pass-box .lost-pass-form .forgot-txt{
      font-size: 22px;
      color: #414141;
      align-self: center;
  }
  .lost-pass-box .lost-pass-form .forgot-content
  {
      font-size: 14px;
      color: #414141;
      text-align: center;
      width: 390px;
  }
  .lost-pass-box .lost-pass-form .reset-btn {
      width: 401px;
      font-size: 17px;
      color: #f88634;
      border: 2px solid #f88634;
      border-radius: 24px;
      height: 48px;
      margin-top: 30px;
      background-color: #ffffff;
      font-weight: 300;
    }
    .lost-pass-box .lost-pass-form .login-link
    {
      font-size: 14px;
      color: #414141;
      align-self: center;
      margin-top: 17px;
    }