<div class="container">
<div class="mission-card-wrapper">
    <div class="mission-cards row  view-group" id="products">
       <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
           <div class="card thumbnail">
               <div class="card">
                   <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png"
                       class="card-img-top" alt="...">
                   <div class="card-img-overlay">
                       <div
                           class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                           <div
                               class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                               <a href="" class="text-decoration-none text-light"> <span><img
                                           src="images/pin.png" alt="">&nbsp; Toronto</span></a>
                           </div>
                           <div class="like-group d-flex flex-column justify-content-between">
                               <div class="bg-dark p-1 rounded-pill">
                                   <a href=""> <img src=" images/heart.png" alt=""></a>
                               </div>
                               <div class="bg-dark p-1 rounded-pill">
                                   <a href=""> <img src="images/L0001.png" alt=""></a>
                               </div>
                           </div>

                       </div>
                   </div>
               </div>
               <span
                   class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                   style="margin-top: -10px; z-index: 5;">Environment</span>
               <div class="card-body">
                   <h5 class="card-title fs-3 fw-medium">Grow Trees - On the path to environment sustainability</h5>
                   <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                       adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                   <div class="rating-img d-flex justify-content-between align-items-center">
                       <span>Tree Canada</span>
                       <div>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                   </div>
                   <div class="d-flex justify-content-center">
                       <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">From 10/01/2019 until 25/02/2019</span>
                   </div>
                   <hr class="" style="margin-top: -10px;">

                   <div class="time-seats">
                       <div
                           class="d-flex time-seats-wrapper align-items-center justify-content-between">
                           <div class="d-flex align-items-center justify-content-between">
                               <div class="seats mx-2">
                                   <img src="./images/Seats-left.png" alt="">
                               </div>
                               <div class="d-flex flex-column">
                                   <span>10</span>
                                   <span class="fw-lighter">Seats Left</span>
                               </div>
                           </div>
                           <div class="deadlines d-flex align-items-center justify-content-between">
                               <div class="deadline mx-2">
                                   <img src="./images/deadline.png" alt="">
                               </div>
                               <div class="d-flex flex-column ">
                                   <span>09/01/2019</span>
                                   <span class="fw-lighter">Deadline</span>
                               </div>
                           </div>
                       </div>
                   </div>
                   <hr>
                   <div class="d-flex justify-content-center mt-4" id="apply-btn">
                    <button type="submit" value="Apply"
                        class="btn btn-outline-orange rounded-pill ps-3 pe-3" style="  border-color: #F88634;
                        color: #F88634;">
                        Apply
                        <img src="./images/right-arrow.png" class="ms-2" />
                    </button>
                </div>
               </div>
           </div>

       </div>
       <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
           <div class="card thumbnail">
               <div class="card">
                   <img src="./images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png"
                       class="card-img-top" alt="...">
                   <div class="card-img-overlay">
                       <div
                           class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                           <div
                               class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                               <span> <img src="./images/pin.png" alt="">&nbsp; Melbourne</span>
                           </div>
                           <div class="like-group d-flex flex-column justify-content-between">
                               <div class="bg-dark p-1 rounded-pill">
                                   <img src="./images/heart.png" alt="">
                               </div>
                               <div class="bg-dark p-1 rounded-pill">
                                   <img src="./images/L0001.png" alt="">
                               </div>
                           </div>

                       </div>
                   </div>
               </div>
               <span
                   class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                   style="margin-top: -10px; z-index: 5;">Children</span>
               <div class="card-body">
                   <h5 class="card-title fs-3 fw-medium">Education Supplies for Every Pair of Shoes
                       Sold</h5>
                   <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                       adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                   <div class="rating-img d-flex justify-content-between align-items-center">
                       <span>Australian Paradise</span>
                       <div>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                   </div>
                   <div class="d-flex justify-content-center">
                       <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">From
                           10/01/2019 until 25/02/2019</span>
                   </div>
                   <hr class="" style="margin-top: -10px;">

                   <div class="time-seats">
                       <div
                           class="d-flex time-seats-wrapper align-items-center justify-content-between">
                           <div class="d-flex align-items-center justify-content-between">
                               <div class="seats mx-2">
                                   <img src="./images/Already-volunteered.png" alt="">
                               </div>
                               <div class="d-flex flex-column">
                                   <span>250</span>
                                   <span class="fw-lighter">Already volunteered</span>
                               </div>
                           </div>
                           <div class="deadlines d-flex align-items-center justify-content-between">
                               <div class="deadline mx-2">
                                   <img src="./images/deadline.png" alt="">
                               </div>
                               <div class="d-flex flex-column ">
                                   <span>09/01/2019</span>
                                   <span class="fw-lighter">Deadline</span>
                               </div>
                           </div>
                       </div>
                   </div>
                   <hr>
                   <div class="d-flex justify-content-center mt-4" id="apply-btn">
                    <button type="submit" value="Apply"
                        class="btn btn-outline-orange rounded-pill ps-3 pe-3" style="  border-color: #F88634;
                        color: #F88634;">
                        Apply
                        <img src="./images/right-arrow.png" class="ms-2" />
                    </button>
                </div>
               </div>
           </div>
     
       </div>


       <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
           <div class="card thumbnail">
               <div class="card">
                   <img src="./images/Nourish-the-Children-in--African-country.png"
                       class="card-img-top" alt="...">
                   <div class="card-img-overlay">
                       <div
                           class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                           <div
                               class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                               <span> <img src="./images/pin.png" alt="">&nbsp; Barcelona</span>
                           </div>
                           <div class="like-group d-flex flex-column justify-content-between">
                               <div class="bg-dark p-1 rounded-pill">
                                   <img src="./images/heart.png" alt="">
                               </div>
                               <div class="bg-dark p-1 rounded-pill">
                                   <img src="./images/L0001.png" alt="">
                               </div>
                           </div>

                       </div>
                   </div>
               </div>
               <span
                   class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                   style="margin-top: -10px; z-index: 5;">Nutrition</span>
               <div class="card-body">
                   <h5 class="card-title fs-3 fw-medium">Nourish the Children in African country</h5>
                   <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                       adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                   <div class="rating-img d-flex justify-content-between align-items-center">
                       <span>The hunger</span>
                       <div>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                   </div>
                   <div class="d-flex justify-content-center">
                       <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">Ongoing Opportunity</span>
                   </div>
                   <hr class="" style="margin-top: -10px;">

                   <div class="time-seats">
                       <div
                           class="d-flex time-seats-wrapper align-items-center justify-content-between">
                           <div class="d-flex align-items-center justify-content-between">
                               <div class="seats mx-2">
                                   <img src="./images/Seats-left.png" alt="">
                               </div>
                               <div class="d-flex flex-column">
                                   <span>10</span>
                                   <span class="fw-lighter">Seats Left</span>
                               </div>
                           </div>
                           <div class="deadlines d-flex align-items-center justify-content-between">
                               <div class="deadline mx-2">
                                   <img src="./images/deadline.png" alt="">
                               </div>
                               <div class="d-flex flex-column ">
                                   <span>09/01/2019</span>
                                   <span class="fw-lighter">Deadline</span>
                               </div>
                           </div>
                       </div>
                   </div>
                   <hr>
                   <div class="d-flex justify-content-center mt-4" id="apply-btn">
                    <button type="submit" value="Apply"
                        class="btn btn-outline-orange rounded-pill ps-3 pe-3" style="  border-color: #F88634;
                        color: #F88634;">
                        Apply
                        <img src="./images/right-arrow.png" class="ms-2" />
                    </button>
                </div>
               </div>
           </div>
      </div>

       <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
           <div class="card  thumbnail">
               <div class="card">
                   <img src="./images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png"
                       class="card-img-top" alt="...">
                   <div class="card-img-overlay">
                       <div
                           class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                           <div
                               class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                               <span> <img src="./images/pin.png" alt="">&nbsp; London</span>
                           </div>
                           <div class="like-group d-flex flex-column justify-content-between">
                               <div class="bg-dark p-1 rounded-pill">
                                   <img src="./images/heart.png" alt="">
                               </div>
                               <div class="bg-dark p-1 rounded-pill">
                                   <img src="./images/L0001.png" alt="">
                               </div>
                           </div>

                       </div>
                   </div>
               </div>
               <span
                   class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                   style="margin-top: -10px; z-index: 5;">Environment</span>
               <div class="card-body">
                   <h5 class="card-title fs-3 fw-medium">CSR initiative stands for Coffee and Farmer Equity</h5>
                   <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                       adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                   <div class="rating-img d-flex justify-content-between align-items-center">
                       <span>CSE network</span>
                       <div>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                   </div>
                   <div class="d-flex justify-content-center">
                       <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">Ongoing Opportunity</span>
                   </div>
                   <hr class="" style="margin-top: -10px;">

                   <div class="time-seats">
                       <div
                           class="d-flex time-seats-wrapper align-items-center justify-content-between">
                           <div class="d-flex align-items-center justify-content-between">
                               <div class="seats mx-2">
                                   <img src="./images/Already-volunteered.png" alt="">
                               </div>
                               <div class="d-flex flex-column">
                                   <span>250</span>
                                   <span class="fw-lighter">Already volunteered</span>
                               </div>
                           </div>
                           
                       </div>
                   </div>
                   <hr>
                   <div class="d-flex justify-content-center mt-4" id="apply-btn">
                    <button type="submit" value="Apply"
                        class="btn btn-outline-orange rounded-pill ps-3 pe-3" style="  border-color: #F88634;
                        color: #F88634;">
                        Apply
                        <img src="./images/right-arrow.png" class="ms-2" />
                    </button>
                </div>
               </div>
           </div>
           
       </div>

       <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
           <div class="card thumbnail">
               <div class="card">
                   <img src="./images/Animal-welfare-&-save-birds-campaign.png"
                       class="card-img-top" alt="...">
                   <div class="card-img-overlay">
                       <div
                           class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                           <div
                               class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                               <span> <img src="./images/pin.png" alt="">&nbsp; Cape Town</span>
                           </div>
                           <div class="like-group d-flex flex-column justify-content-between">
                               <div class="bg-dark p-1 rounded-pill">
                                   <img src="./images/heart.png" alt="">
                               </div>
                               <div class="bg-dark p-1 rounded-pill">
                                   <img src="./images/L0001.png" alt="">
                               </div>
                           </div>

                       </div>
                   </div>
               </div>
               <span
                   class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                   style="margin-top: -10px; z-index: 5;">Animals</span>
               <div class="card-body">
                   <h5 class="card-title fs-3 fw-medium">Animal welfare & save birds campaign</h5>
                   <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                       adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                   <div class="rating-img d-flex justify-content-between align-items-center">
                       <span>JR Foundation</span>
                       <div>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                   </div>
                   <div class="d-flex justify-content-center">
                       <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">Plant 10,000 Trees</span>
                   </div>
                   <hr class="" style="margin-top: -10px;">

                   <div class="time-seats">
                       <div
                           class="d-flex time-seats-wrapper align-items-center justify-content-between">
                           <div class="d-flex align-items-center justify-content-between">
                            <div class="seats mx-2">
                                <img src="./images/Seats-left.png" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <span>10</span>
                                <span class="fw-lighter">Seats Left</span>
                            </div>
                           </div>
                           <div class="achieved d-flex align-items-center justify-content-between">
                               <div class="achieved mx-2">
                                   <img src="./images/achieved.png" alt="">
                               </div>
                               <div class="d-flex flex-column ms-2 ">
                                <div class="progress" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100" style="height:10px">
                                    <div class="progress-bar bg-orange-color" style="width: 75%"></div>
                                </div>
                                
                                <span class="fw-lighter">8000 achieved</span>
                                
                            </div>
                               
                           </div>
                       </div>
                   </div>
                   <hr>
                   <div class="d-flex justify-content-center mt-4" id="apply-btn">
                    <button type="submit" value="Apply"
                        class="btn btn-outline-orange rounded-pill ps-3 pe-3" style="  border-color: #F88634;
                        color: #F88634;">
                        Apply
                        <img src="./images/right-arrow.png" class="ms-2" />
                    </button>
                </div>
               </div>
           </div>
           
       </div>

       <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
           <div class="card thumbnail">
               <div class="card">
                   <img src="./images/Plantation-and-Afforestation-programme.png"
                       class="card-img-top" alt="...">
                   <div class="card-img-overlay">
                       <div
                           class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                           <div
                               class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                               <span> <img src="./images/pin.png" alt="">&nbsp; Paris</span>
                           </div>
                           <div class="like-group d-flex flex-column justify-content-between">
                               <div class="bg-dark p-1 rounded-pill">
                                   <img src="./images/heart.png" alt="">
                               </div>
                               <div class="bg-dark p-1 rounded-pill">
                                   <img src="./images/L0001.png" alt="">
                               </div>
                           </div>

                       </div>
                   </div>
               </div>
               <span
                   class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                   style="margin-top: -10px; z-index: 5;">Health</span>
               <div class="card-body">
                   <h5 class="card-title fs-3 fw-medium">Plantation and Afforestation programme</h5>
                   <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                       adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                   <div class="rating-img d-flex justify-content-between align-items-center">
                       <span>Amaze Doctors</span>
                       <div>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                   </div>
                   <div class="d-flex justify-content-center">
                       <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">Plant 10,000 Trees</span>
                   </div>
                   <hr class="" style="margin-top: -10px;">

                   <div class="time-seats">
                    <div
                        class="d-flex time-seats-wrapper align-items-center justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="seats mx-2">
                                <img src="./images/achieved.png" alt="">
                            </div>
                            <div class="d-flex flex-column ms-2">
                                <div class="progress" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100" style="height:10px">
                                    <div class="progress-bar bg-orange-color" style="width: 75%"></div>
                                </div>
                                <span class="fw-lighter fs-fourteen mt-3">8000 achieved</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                   <hr>
                   <div class="d-flex justify-content-center mt-4" id="apply-btn">
                    <button type="submit" value="Apply"
                        class="btn btn-outline-orange rounded-pill ps-3 pe-3" style="  border-color: #F88634;
                        color: #F88634;">
                        Apply
                        <img src="./images/right-arrow.png" class="ms-2" />
                    </button>
                </div>
               </div>
           </div>
    </div>

    <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
        <div class="card thumbnail">
            <div class="card">
                <img src="images/Grow-Trees-On-the-path-to-environment-sustainability.png"
                    class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <div
                        class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                        <div
                            class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                            <a href="" class="text-decoration-none text-light"> <span><img
                                        src="images/pin.png" alt="">&nbsp; New York</span></a>
                        </div>
                        <div class="like-group d-flex flex-column justify-content-between">
                            <div class="bg-dark p-1 rounded-pill">
                                <a href=""> <img src=" images/heart.png" alt=""></a>
                            </div>
                            <div class="bg-dark p-1 rounded-pill">
                                <a href=""> <img src="images/L0001.png" alt=""></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <span
                class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                style="margin-top: -10px; z-index: 5;">Education</span>
            <div class="card-body">
                <h5 class="card-title fs-3 fw-medium">Grow Trees - On the path to environment sustainability</h5>
                <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit...</p>
                <div class="rating-img d-flex justify-content-between align-items-center">
                    <span>Tree Canada</span>
                    <div>
                     <i class="fa fa-star star" aria-hidden="true"></i>
                     <i class="fa fa-star star" aria-hidden="true"></i>
                     <i class="fa fa-star star" aria-hidden="true"></i>
                     <i class="fa fa-star-o" aria-hidden="true"></i>
                     <i class="fa fa-star-o" aria-hidden="true"></i>
                 </div>
                </div>
                
                <hr>
                <div class="d-flex justify-content-center mt-4" id="apply-btn">
                    <button type="submit" value="Apply"
                        class="btn btn-outline-orange rounded-pill ps-3 pe-3" style="  border-color: #F88634;
                        color: #F88634;">
                        View details
                        <img src="./images/right-arrow.png" class="ms-2" />
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
        <div class="card thumbnail">
            <div class="card">
                <img src="./images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png"
                    class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <div
                        class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                        <div
                            class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                            <span> <img src="./images/pin.png" alt="">&nbsp; Sydney</span>
                        </div>
                        <div class="like-group d-flex flex-column justify-content-between">
                            <div class="bg-dark p-1 rounded-pill">
                                <img src="./images/heart.png" alt="">
                            </div>
                            <div class="bg-dark p-1 rounded-pill">
                                <img src="./images/L0001.png" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <span
                class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                style="margin-top: -10px; z-index: 5;">Children</span>
            <div class="card-body">
                <h5 class="card-title fs-3 fw-medium">Education Supplies for Every Pair of Shoes
                    Sold</h5>
                <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                <div class="rating-img d-flex justify-content-between align-items-center">
                    <span>Tree Canada</span>
                    <div>
                     <i class="fa fa-star star" aria-hidden="true"></i>
                     <i class="fa fa-star star" aria-hidden="true"></i>
                     <i class="fa fa-star star" aria-hidden="true"></i>
                     <i class="fa fa-star-o" aria-hidden="true"></i>
                     <i class="fa fa-star-o" aria-hidden="true"></i>
                 </div>
                </div>
                <div class="d-flex justify-content-center">
                    <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">From
                        10/01/2019 until 25/02/2019</span>
                </div>
                <hr class="" style="margin-top: -10px;">

                <div class="time-seats">
                    <div
                        class="d-flex time-seats-wrapper align-items-center justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="seats mx-2">
                                <img src="./images/Already-volunteered.png" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <span>250</span>
                                <span class="fw-lighter">Already volunteered</span>
                            </div>
                        </div>
                        <div class="deadlines d-flex align-items-center justify-content-between">
                            <div class="deadline mx-2">
                                <img src="./images/deadline.png" alt="">
                            </div>
                            <div class="d-flex flex-column ">
                                <span>09/01/2019</span>
                                <span class="fw-lighter">Deadline</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-center mt-4" id="apply-btn">
                    <button type="submit" value="Apply"
                        class="btn btn-outline-orange rounded-pill ps-3 pe-3" style="  border-color: #F88634;
                        color: #F88634;">
                        Apply
                        <img src="./images/right-arrow.png" class="ms-2" />
                    </button>
                </div>
            </div>
        </div>
  
    </div>


    <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
        <div class="card thumbnail">
            <div class="card">
                <img src="./images/Nourish-the-Children-in--African-country.png"
                    class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <div
                        class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                        <div
                            class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                            <span> <img src="./images/pin.png" alt="">&nbsp; Berlin</span>
                        </div>
                        <div class="like-group d-flex flex-column justify-content-between">
                            <div class="bg-dark p-1 rounded-pill">
                                <img src="./images/heart.png" alt="">
                            </div>
                            <div class="bg-dark p-1 rounded-pill">
                                <img src="./images/L0001.png" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <span
                class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                style="margin-top: -10px; z-index: 5;">Nutrition</span>
            <div class="card-body">
                <h5 class="card-title fs-3 fw-medium">Nourish the Children in African country</h5>
                <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                <div class="rating-img d-flex justify-content-between align-items-center">
                    <span>Junior Charity</span>
                    <div>
                     <i class="fa fa-star star" aria-hidden="true"></i>
                     <i class="fa fa-star star" aria-hidden="true"></i>
                     <i class="fa fa-star star" aria-hidden="true"></i>
                     <i class="fa fa-star-o" aria-hidden="true"></i>
                     <i class="fa fa-star-o" aria-hidden="true"></i>
                 </div>
                </div>
                <div class="d-flex justify-content-center">
                    <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">Ongoing Opportunity</span>
                </div>
                <hr class="" style="margin-top: -10px;">

                <div class="time-seats">
                    <div
                        class="d-flex time-seats-wrapper align-items-center justify-content-between">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="seats mx-2">
                                <img src="./images/Seats-left.png" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <span>10</span>
                                <span class="fw-lighter">Seats Left</span>
                            </div>
                        </div>
                        <div class="deadlines d-flex align-items-center justify-content-between">
                            <div class="deadline mx-2">
                                <img src="./images/deadline.png" alt="">
                            </div>
                            <div class="d-flex flex-column ">
                                <span>09/01/2019</span>
                                <span class="fw-lighter">Deadline</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-center mt-4" id="apply-btn">
                    <button type="submit" value="Apply"
                        class="btn btn-outline-orange rounded-pill ps-3 pe-3" style="  border-color: #F88634;
                        color: #F88634;">
                        Apply
                        <img src="./images/right-arrow.png" class="ms-2" />
                    </button>
                </div>
            </div>
        </div>
   </div>
</div>
</div>
</div>
